.container-chat {
    display: block;
    width: 100%;
    height: 100%;
}

.container-chat .wrapper-chat {
    position: relative;
    display: flex;
    height: 100%;
}

.container-chat .wrapper-chat .chat-left {
    width: 50%;
    height: 100%;
    background-color: #4d63c4;
    padding: 10px 15px;

}

.container-chat .wrapper-chat .chat-left .my-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.container-chat .wrapper-chat .chat-left .my-profile .icon {
    font-size: 2rem;
    color: #fff;
}

.container-chat .wrapper-chat .chat-left .search-friend-chat {
    width: 100%;
    margin: 7px auto;
    display: flex;
    justify-content: center;
}

.container-chat .wrapper-chat .chat-left .search-friend-chat input {
    background-color: #3d4e9a;
    width: 100%;
    border-radius: 10px;
}

.container-chat .wrapper-chat .chat-left .search-friend-chat input::placeholder {
    color: #4d63c4;
}

.container-chat .wrapper-chat .chat-left .item-friend-chat {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-chat .wrapper-chat .chat-left .item-friend-chat {
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.container-chat .wrapper-chat .chat-left .item-friend-chat:hover {
    background-color: #3d4e9a;
}

.container-chat .wrapper-chat img {
    width: 30px;
    border-radius: 50%;
}

.container-chat .wrapper-chat .chat-right {
    height: 100%;
    width: 100%;
}

.container-chat .wrapper-chat .chat-right .header-chat {
    width: 100%;
    height: 10%;
    background-color: #3d4e9a;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
}

.container-chat .wrapper-chat .chat-right .box-chat {
    width: 100%;
    height: 80%;
    padding: 10px;
    overflow-y: auto;
}

.container-chat .wrapper-chat .chat-right .box-chat .friend-chat,
.container-chat .wrapper-chat .chat-right .box-chat .my-chat {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-chat .wrapper-chat .chat-right .box-chat .friend-chat .item-chat,
.container-chat .wrapper-chat .chat-right .box-chat .my-chat .item-chat{
    padding: 3px 7px;
    border-radius: 7px;
}
.container-chat .wrapper-chat .chat-right .box-chat .friend-chat .item-chat{
    background-color: #668BCC;
}
.container-chat .wrapper-chat .chat-right .box-chat .my-chat .item-chat{
    background-color: #7EB0DF;
}
.container-chat .wrapper-chat .chat-right .box-chat .my-chat {
    justify-content: end;
}

.container-chat .wrapper-chat .chat-right .box-typing {
    display: flex;
    justify-content: space-evenly;
    background-color: #668BCC;
    width: 100%;
    height: 10%;
    padding: 10px 5px;
}

.container-chat .wrapper-chat .chat-right .box-typing input {
    width: 80%;
    background-color: #E2ECFF;
    border-radius: 10px;
}

.container-chat .wrapper-chat .chat-right .box-typing .icon :nth-child(1){
    font-size: 2rem;
}
.container-chat .wrapper-chat .chat-right .box-typing .icon {
    font-size: 1.7rem;
}