body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url("../img/bg-getstarted.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.container-start header {
    width: 100vw;
    padding: 5px 20px;
    color: #fff;
    font-size: 2rem;
}
.container-start .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 30px;
    width: 100vw;
    color: #fff;
}

.container-start .content button {
    font-size: 2em;
    margin-top: 20px;
    background-color: #0058aa;
    border-radius: 15px;
    padding: 5px 20px;

}