body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("../img/bg-getstarted.png") no-repeat center / cover;
  border: 5px solid;
}

.container-start .logo-start {
  position: fixed;
  width: 100vw;
  color: #fff;
  font-size: 2.5em;
  margin-left: 30px;
}

.content-start {
  display: block;
}

.container-start .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 30px;
  width: 100vw;
  color: #fff;
}

.container-start .content .button {
  display: flex;
  gap: 1em;
}

.container-start .content button {
  font-size: 1.5em;
  margin-top: 20px;
  background-color: #0058aa;
  border-radius: 12px;
  padding: 5px 20px;
  cursor: pointer;
}

.container-start .content button a {
  color: #FFF;
}

.container-start .content-about {
  display: none;
  width: 100vw;
  height: 100vh;
}

.container-start .about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container-start .content-about .content {
  height: 200px;
  width: 800px;
  font-size: 1.7em;
  text-align: center;
}