.container-task {
    display: none;
    width: 100%;
    height: 100%;
}

.container-task .wrapper-task {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container-task .task-title span {
    font-size: 2em;
    font-weight: 500;
}

.container-task .task-menu ul {
    display: flex;
}

.container-task .task-menu ul li a {
    margin-right: 20px;
    font-size: 1.2em;
    color: black;
    padding: 3px 20px;
}

.container-task .task-menu ul li a:hover {
    text-decoration: underline;
}

.container-task .content-task {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-task .content-task table {
    width: 100%;
}

.container-task .content-task th,
.container-task .content-task td {
    padding: 2px 5px;
}

.container-task .col-satu {
    width: 50%;
}

.container-task .col-dua,
.container-task .col-tiga {
    width: 25%;
    text-align: center;
}

#pribadi,
#tugas,
#kelompok{
    display: none;
}