@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27);

/* :root {
    --bg-color: #aecbeb;
    --bar-color: #71a5de;
    --text-color:#f8f9fb;
    --hover-color: #83b0e1;
    --toggle-color: #e1ecf7;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background-color: #e6f3ff;
    overflow-x: hidden;
}

.logo h1 a{
    color: #FFF;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
}


.container {
    width: 100vw;
    min-height: 100vh;
}

nav {
    position: relative;
    background-color: #3D73A6;
    display: flex;
    align-items: center;
    z-index: 99;
    height: 50px;
    justify-content: space-between;
}

nav .profil{
    margin-right: 1em;
}

nav .profil img{
    border-radius: 50%;
}

button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    font-size: 3em;
    cursor: pointer;
}

nav .brand button a {
    font-size: 2rem;
    color: #FFF;
}

nav .menu-toggle {
    padding-left: 0.5em;
}



.sidebar {
    position: fixed;
    left: -200px;
    width:200px;
    height: 100%;
    overflow-x: hidden;
    background-color: #3D73A6;
    z-index: 1;
    transition: 0.7s ease;
}

.sidebar.active {
    left: 0;
    background-color: #3D73A6;
}

.sidebar .aside-menu,
.sidebar .reminder {
    position: relative;
    width: 100%;
    padding: 5px;
}

.sidebar a {
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: 100%;
    gap: 0.7em;
    border-radius: 15px;
    padding: 0.3rem;
}

.sidebar .aside-item.active,
.sidebar .aside-item a:hover {
    background-color: #0058aa;
    border-radius: 15px;
}

.sidebar a .icon{
    font-size: 1.5em;
}

.sidebar .aside-menu a .icon {
    padding-left: 1.3rem;
}

.sidebar a span {
    font-size: 0.9em;
}


.sidebar .aside-menu .create {
    border: 3px solid #FFF;
    border-radius: 15px;
}

.sidebar .aside-item {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sidebar .reminder a span {
    font-size: 1.2em;
}


.sidebar .reminder{
    margin-top: 270px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.sidebar .reminder a{
    display: flex;
    justify-content: center;
    /* gap: 5px; */
}

.sidebar.active ~ .content {
    width: calc(100% - 200px);
}

.content {
    height: calc(100vh - 50px);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: 0.7s ease;
    float: right;
    /* border: 5px solid #0058aa; */
}




































/* workspace */

/* .workspace {
    margin: 15px 5px;
}



.workspace .workspace-item {
    display: flex;
    flex-direction: row;
}

.workspace .workspace-item .invite {
    margin-left: 5px;
}

.workspace img {
    width: 17px;
    border-radius: 50%;
} */